@use '../../styles/variables' as *;
h1 {
    color: $color-blue !important;
    padding-bottom: 10px;
}

.welcome {
    padding: 50px;
    padding-left: 100px;
    width: 100%;
}
.aside img {
    width: 80%;
}
h2 {
    text-align: center;
    color: $color-blue !important;
    font-size: $font-size-xl !important;
    padding-top: 10px;
}

.card-group {
    padding: 20px;
}

.card-header {
    background-color: $color-primary !important;
    color: $color-blue !important;
}

.topArtisan {
    margin-bottom: 30px;
}
