@use '../../styles/variables' as *;
h1 {
    color: $color-blue !important;
}


h2 {
    text-align: center;
    color: $color-blue !important;
    font-size: $font-size-xl !important;
    padding-top: 10px;
}

.card-group {
    padding: 20px;
}

.card-header {
    background-color: $color-primary !important;
    color: $color-blue !important;
}
