@use '../../styles/variables' as *;

.card {

    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
    }

    .card-title {
        color: $color-blue;
        font-weight: $font-weight-bold;
    }
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.col h6 {
  color: $color-blue;
}

.btn-custom {
    background-color: $color-secondary !important;
    color: $color-white;

    &:hover {
        background-color: $color-blue !important;
        color: $color-white;
    }
}