@use '../../styles/variables' as *;

.artisan-list__titre {
    text-transform: capitalize;
    color: $color-secondary;
    margin-bottom: $spacing-xl;
    font-size: $font-size-xl;
    margin-top: 20px;
    border-bottom: 1px solid $color-secondary;
}

.artisanList {
    margin-bottom: 20px;
}