@use '../../styles/variables' as *;

.localisation {
    height: auto;
}

.artisan-detail__map {
    height: 100%;
}

.section-top {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.artisan-detail {
    padding: $spacing-xl $spacing-lg;

    &__photo {
        width: 100%;
        max-width: 300px;
        height: 100px;
        object-fit: cover;
        border-radius: $radius-lg;  
    }

    &__apropos {
        background-color: $color-primary;
        padding: $spacing-lg;
        border-radius: $radius-md;
    }

    &__map {
        border-radius: 5px;
        overflow: hidden;
    }

    &__contact {
        background-color: $color-primary;
        padding: $spacing-lg;
        border-radius: $radius-md;
        margin-bottom: $spacing-xl;
    }

    h2 {
        color: $color-secondary;
        margin-bottom: $spacing-md;
    }
}
